@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: #61dafb;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #61dafb;
}

.form-label {
  text-align: left;
}

.form-control {
  border-radius: 0px;
}

.btn-primary {
  color: #000;
  background: #61dafb;
  border-color: #61dafb;
  border-radius: 0px;
}

.btn-primary:hover,
.btn-primary:active {
  color: #fff;
  background: #000;
  border-color: #000;
}

.btn-primary:focus {
  color: #fff;
  background: #000;
  border-color: #000;
  box-shadow: 0 0 0 0.25rem rgb(97 218 251/50%);
}
